body {
  background-color: #DFDCE3;
  font-family: 'Roboto Slab', serif;
}

.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
  border: 3px solid #1D7225;
}

.HolyGrail-content {
  flex: 1;
  border-left: 3px solid #1D7225;
  border-right: 3px solid #1D7225;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 13em is the width of the columns */
  flex: 0 0 13em;
  padding: 1em;
  line-height: 2em;
}

.HolyGrail-content h1, .HolyGrail-nav h3, .HolyGrail-ads h3 {
  text-align: center;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}

.players-list {
  border: 1px solid black;
  margin-top: 5px;
  border-radius: 5px;
}

.players img {
  width: 7.5em;
}

h4 {
  font-style: italic;
  margin: 17px 0 8px 0;
}

.users-list {
  padding-left: 0;
  margin-bottom: 10px;

}

.users-list li {
  list-style-position: inside;
}


#charts {
  display: flex;
  width: 50%;
}

header, footer {
  text-align: center;
  background-color: #6DBB75;
  color: #fff;
}

header {
  background-image: url('https://previews.123rf.com/images/piyato/piyato1110/piyato111000286/10941937-turf-grass-background-Stock-Photo.jpg');
  font-size: 25px;
}

header h1 {
  background-color: rgba(109,187,117,0.9);
}


footer {
  font-style: italic;
}

.players {
  list-style: none;
  padding: 0;
  text-align: center;
}

.search {
  padding: 4px;
  margin-top: 12px;
  border: 2px solid #6DBB75;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  transition-duration: 0.4s;
  font-size: 13px;
}

.compare {
  padding: 3px;
  margin-bottom: 12px;
  border: 2px solid #6DBB75;
  border-radius: 5px;
  font-family: 'Roboto Slab', serif;
  transition-duration: 0.4s;
  font-size: 12px;
}

.search:hover, .compare:hover {
  cursor: pointer;
  background-color: #6DBB75;
}


#charts {
  display: flex;
  width: 50%;
}

@media only screen and (max-width : 768px) {

  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 10em;
    padding: 0.5em;
  }


  img {
    height: 5em;
    width: auto;
  }

  body {
    font-size: 13px;
  }

  header {
    font-size: 20px;
  }

}
